# Ambientes Virtuais
venv/
env/
.venv/

# Python
__pycache__/
*.py[cod]
*$py.class

# PyInstaller
build/
dist/
*.spec

# Temporários da Aplicação
temp_uploads/
*.zip

# Binários de Terceiros
ffmpeg_bin/

# Sistema Operacional
.DS_Store
Thumbs.db
